.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #ff9900;
}
.content {
    display: flex;
    background-color: #ffebcc;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}
.news {
    width: 33%;
}

.content>p {
    display: flex;
    width: 100%;
    justify-content: center;
  
}
